body {
    margin : 0px;
    padding : 0px;
    font-family : 'Questrial', sans-serif;
    font-size : 13pt;
}

/*** --- navigation --- ***/
#header-wrapper {
    overflow : hidden;
    background-color : rgb(27,28,34);
}

header {
    text-align : center;
}

#name {
    padding : 0.2em 0em 0.2em 0em;
}

#name h1 {
    display : block;
    margin-bottom : 0;
    padding : 0;
    font-size : 2em;
}

#name a {
    text-decoration : none;
    color : rgb(255,255,255);
}

#name img {
    display : none;    
}

#navigation {
    height : 70px;
    background-color : rgb(0,53,113);
}

#menu {
    height : 65px;
    background-color : rgb(27,28,34);
}

#menu ul {
    display : inline-block;
    padding : 0em 2em;
    text-align : center;
}

#menu li {
    display : inline-block;
}

#menu li a {
    display : inline-block;
    text-decoration : none;
    padding : 0em 1.5em;
    
    line-height : 60px;
    text-transform : uppercase;
    color : rgb(220,220,220);
    font-size : 1em;
    font-weight : 500;
}

#menu li:hover a, #menu li.active {
    background-color : rgb(0,53,113);
    border-radius : 7px 7px 0px 0px;
    color : rgb(255,255,255);
}

@media (max-width: 600px) {
    
    #header-wrapper {
        overflow: visible;
    }
    
    #name {
        cursor : pointer;
        width: 100%;
    }
    
    #name h1 {
        font-size: 20pt;
        margin : 0;
        padding : 0.4em 0em; 
        width : 100%;
    }
    
    #name h1 a {
        color : rgb(255,255,255);
    }
    
    #name img {
        display : block;
        width : 25px;
        float : right;
        height : 25px;
        margin : -37px 15px;
    }
        
    #navigation {
        display : none;
        height : 161px;
        background-color : rgb(27,28,34);
    }
    
    #menu ul {
        display : block;
        padding : 0;
        margin : 0;
    }
    
    #menu ul li {
        display : block;
        margin : 0px;
    }
    
    #menu ul li:hover, #menu li.active {
        background : rgb(0,53,113);
        border-radius : 0; 
    }
    
    #menu ul li a {
        line-height : 40px;   
    }
    
}

@media (max-width : 300px) {
     
    #name {
        font-size: 20pt;
        margin : 0;
        padding : 0.4em 0em; 
        width : 90%;
    }
    
    #name img {
        display : block;
        width : 25px;
        float : right;
        height : 25px;
        margin : -36px -10px;
    }
}

/*** --- Footer --- ***/
footer {
    margin : 0;
    padding : 0;
}

.social {
    padding : 5em 0em 0em 0em;
    background : rgb(27,28,34);
    margin : 0;
}

.social li {
    display: inline-block;
    padding : 0em 1em;
}
